* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

.main {
  height: 100vh;
  background-image: url(assets/home\ image.png);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  width: 80%;
  margin-top: 70%;
}

.heading-2 {
  font-weight: 500;
  font-size: 1.8em;
}

.continue-button {
  width: 80%;
  background-color: #393433;
  color: #ffffff;
  padding: 10px 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  position: absolute;
  bottom: 0;
  font-size: 1em;
  font-weight: 500;
}

.main-02 {
  display: none;
  height: 100vh;
  width: 90%;
  margin: 10px auto 0px auto;
  flex-direction: column;
}

.date {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.date-box {
  border: 0.5px solid gray;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.current-date {
  background-color: gray;
  color: white;
}

/* .categories {
  margin-top: 15px;
  width: 100%;
  display: flex;
  gap: 5px;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
} */

.tasks-buttons {
  margin-top: 15px;
  width: 100%;
  display: flex;
  gap: 5px;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.categories::-webkit-scrollbar {
  display: none;
}

.category-button,
.all-task,
.completed-tasks {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: gray;
  color: white;
}

.category-name {
  margin-top: 15px;
  color: #d1a28b;
  font-size: 0.8em;
}

.task-list {
  height: 60%;
  overflow-y: auto;
}

.task-list::-webkit-scrollbar {
  display: none;
}

.checkbox {
  display: flex;
  background-color: #e8dbd7;
  border-radius: 5px;
  padding: 0px 15px;
  margin-top: 5px;
}

.checkbox div {
  width: 100%;
  display: flex;
  align-items: center;
}

.checkbox div input {
  margin-right: 5px;
}

.checkbox div label {
  flex: 0 1 auto;
}

.checkbox div p {
  margin-left: auto;
  margin-top: 18px;
}

.input-div {
  margin: 0 auto;
  display: flex;
  position: fixed;
  bottom: 5px;
  width: 100%;
  padding: 5px;
  gap: 5px;
}

.task {
  border: none;
  width: 70%;
  padding: 10px 20px;
  font-size: 15px;
  background-color: lightgray;
  border-radius: 10px;
}

.task-add,
.add-button,
.back-button {
  border: none;
  border-radius: 5px;
  background-color: #393433;
  color: #ffffff;
  width: 20%;
  padding: 10px 20px;
}

.main-03 {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.task-input,
.task-category,
.task-date {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1.3em;
}

.add-button,
.back-button {
  font-size: 1em;
  width: 25%;
  font-weight: 600;
}

.task-input {
  margin-top: 40%;
}
